<script src="http://code.angularjs.org/1.2.13/angular.js"></script>

<script src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>

<div class="col-md-7">
  <input placeholder="Rettens navn" type="text" class="inputern form-control" name="name" [(ngModel)]="dish.Name">
</div>
<div class="col-md-2">
  <button type="button" class="btn-group btn btn-primary" (click)="lgModal.show()">Vælg billede</button>
  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title pull-left">Large modal</h4>
          <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 image-list-container">
                <h1 style="text-align: center;  color: #ededed; text-shadow: 4px 4px 4px #000000;">Galleri</h1>
                <hr>
                <div *ngFor="let image of images" class="col-md-4">
                  <div class="img-container">
                    <img (click)="setImage(image); lgModal.hide()" style="height: 200px;" src="{{image}}"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <img class="dish-img img-thumbnail"
       src="{{dish.Image}}">
</div>


