<script src="http://code.angularjs.org/1.2.13/angular.js"></script>

<script src="http://code.angularjs.org/1.2.13/angular-animate.js"></script>

<div class="col-md-6">
  <input placeholder="Rettens navn" type="text" class="dish-name-input form-control" name="name" [(ngModel)]="dish.Name">
</div>
<div class="col-md-2">
  <button type="button" class="btn-group btn btn-primary" (click)="lgModal.show()">Vælg billede</button>
  <div bsModal #lgModal="bs-modal" class="modal fade" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h1 style="text-align: center;  color: #ededed; text-shadow: 4px 4px 4px #000000;">Galleri</h1>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12 image-list-container">
              <div *ngFor="let image of images" class="col-md-4">
                <div class="img-container">
                  <img (click)="setImage(image); lgModal.hide()" style="height: 200px;" src="{{image}}"/>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-3">
  <img class="dish-img img-thumbnail"
       src="{{dish.Image}}">
</div>


