.menu-container {
  background-color: rgba(88, 65, 43, 0.57);
}

.inputern {
  margin-bottom: 10px;
}

.input-row {
  padding: 10px;
}

.dish-img {
  max-width: 55%;
  float: right;
}

.btn-group {
  background-color: #222;
  border: none;
  color: #ededed;
}
