.todays-menu-container {
  height: 80vh;
  margin-top: 10vh;
  overflow-y: hidden;
  position: relative;
}

.todays-menu-container > .row {
  position: absolute;
  top: 79px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.todays-menu-container {
  background-color: rgba(88, 65, 43, 0.6);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.55);
}

.todays-menu-container img {
  max-width: 100%;
  max-height: 100%;
}

.todays-menu-container h1 {
  font-weight: bold;
  text-shadow: 4px 4px 4px #000000;
  color: #ededed;
}

.todays-menu-container h2 {
  text-shadow: 4px 4px 4px #000000;
  color: #ededed;
}

.btn-back {
  border-radius: 30px!important;
  float: left;
  margin: 8px;
  background-color: #222;
  border: none;
  color: #ededed;
}
