<div class="col-md-10 col-md-offset-1 todays-menu-container">
  <h1 style="color: #232121; text-align: center; font-weight: bold;text-shadow: 1px 1px 1px #9a8a81;">Onsdag d. 3. Maj - 2017</h1>
  <hr/>
  <div class="row" style="padding-top: 15px;">
    <div class="col-md-8" style="height: 100%;">
      <carousel>
        <slide>
          <img
            src="http://res.cloudinary.com/bjoernebanden/image/upload/v1493482083/Flaeskesteg-af-svinekam-med-sproed-svaer-og-traditionelt-tilbehoer-2_b7g3ft.jpg"
            alt="First slide">
        </slide>
        <slide>
          <img
            src="http://res.cloudinary.com/bjoernebanden/image/upload/v1493482436/opskrift-in-modemagasinet-in-sommersalat-foraarssalat_v9eqvu.jpg"
            alt="Second slide">
        </slide>
        <slide>
          <img src="http://res.cloudinary.com/bjoernebanden/image/upload/v1493482165/24556159-tarteletter_iux6to.jpg"
               alt="Third slide">
        </slide>
      </carousel>
    </div>
    <div class="col-md-4" style="color: #232121;">

      <ul>
        <li><h3 style=" font-weight: bold; text-shadow: 1px 1px 1px #9a8a81;">Flæskesteg</h3></li>
        <li><h3 style=" font-weight: bold; text-shadow: 1px 1px 1px #9a8a81;">Tarteletter</h3></li>
        <li><h3 style=" font-weight: bold; text-shadow: 1px 1px 1px #9a8a81;">Frisk salat</h3></li>
      </ul>
    </div>
  </div>
</div>

