<a href="" class=" btn-back btn btn-default"><-</a>
<div class="col-md-10 col-md-offset-1 todays-menu-container">
  <h1 style="font-size: 45px; text-align: center">{{menu.Date | date}}</h1>
  <hr style="margin-top: 0"/>
  <div class="row" style="padding-top: 15px;">
    <div class="col-md-8" style="height: 100%;">
      <carousel>
        <slide *ngFor="let dish of menu.Dishes">
          <img src="{{dish.Image}}"/>
        </slide>
      </carousel>
    </div>
    <div class="col-md-4">
      <ul>
        <li *ngFor="let dish of menu.Dishes">
          <h2>{{dish.Name}}</h2>
        </li>
      </ul>
    </div>
  </div>
</div>
