.backgroundImage {
  background-image: url("http://www.publicdomainpictures.net/pictures/210000/velka/wooden-background-1490898523Icg.jpg");
  height: 100%;
  width: 100%;
  opacity: 0.9;
  position: absolute;
  z-index: -100;
}

.carousel, .item, .active, .carousel-inner {
  height: 100%;
  background-color: transparent;
}

.carousel-control {
  display: none;
}


