body {
  font-family: PT Sans Narrow, sans-serif !important;
  margin-bottom: 50px;
}

* {
  border-radius: 0px !important;
}

.backgroundImage {
  background-image: url("http://www.publicdomainpictures.net/pictures/210000/velka/wooden-background-1490898523Icg.jpg");
  height: 100%;
  width: 100%;
  opacity: 0.9;
  z-index: -100;
  position: fixed;
}

.carousel, .item, .active, .carousel-inner {
  height: 100%;
  background-color: transparent;
}

.carousel-control {
  display: none;
}

.wrapper {
  top: 125px;
  position: relative;
}

.menu-container {
  background-color: rgba(88, 65, 43, 0.7);
  box-shadow: 5px 5px 6px rgba(0, 0, 0, 0.55);
}

.input-row {
  padding: 10px;
  line-height: 70px;
}

button.btn-group, button.btn-group:hover, button.btn-group:active, button.btn-group:visited, button.btn-group:focus {
  background-color: #222!important;
  border: none;
  color: #ededed;
}



